html,
body {
    height: 100%;
    margin: 0;        
}
#map {
    height: 100%;        
}
.translation {
    background: transparent;
    border: none;
    color: #FFF;
    cursor: text;
    padding-right: 3em;
    text-shadow: 0 0 3px #000;
    width: 100px;
}
.translation + a[role="button"] {
    background-color: #999999;
    border: 1px solid #666666;
    border-radius: 0 3px 3px 0;
    color: #DDDDDD;
    display: none;
    padding: 1px 0.3em 0;
    position: absolute;
    left: 118px;
    top: 1px;
    text-decoration: none;
}
.translation + a[role="button"]:hover {
    background-color: #666666;
}
.translation:focus {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border: 1px solid gray;
    text-shadow: none;
}
.translation:focus + a[role="button"] {
    display: inline;
}