html,
body {
    height: 100%;
    margin: 0;        
}
.navbar-custom {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse.navbar-custom a {
    color: #EEEEEE;
}
#map-wrapper {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}
#map {
    height: 100%;
}
.language-label {
    font-size: 16px;
    overflow: visible;
}
.translation-container {
    position: absolute;
    top: -.5em;
    width: auto;
}
.translation-container > * {
    margin-left: -50%;
}
.translation-container > .translation,
.translation-container > .placeholder {
    box-sizing: border-box;
    color: #FFF;
    padding: 0 3px;
    text-shadow: 0 0 3px #000;
}
.translation {
    background: transparent;
    border-radius: 3px;
    cursor: text;
    position: absolute;
    left: 0;
    overflow: hidden;
    padding-right: 3px;
    top: 0;
    width: auto;
    z-index: 10;
}
.translation ~ a[role="button"] {
    background-color: #7D7D7D;
    border-radius: 0 3px 3px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #DDDDDD;
    display: none;
    font-size: 14px;
    line-height: 26px;
    padding: 0 0.7em;
    position: absolute;
    left: 99px;
    top: -1px;
    text-decoration: none;
    z-index: 20;
}
.translation ~ a[role="button"]:hover {
    background-color: #559955;
}
.translation-container:hover .translation,
.translation:focus {
    background: rgba(255, 255, 255, 0.25);
    border-right: none;
    text-shadow: none;
    width: 100px;
}
/*.translation-container:hover .translation {
    border: 1px solid rgba(255, 255, 255, 0.25);
    left: -1px;
    margin-top: -1px;
}*/
.translation:focus {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 24px;
    left: 0;
    margin-top: 0;
}
/*.translation-container:hover a[role="button"],*/
.translation:focus ~ a[role="button"] {
    display: inline;
}
.translation ~ .placeholder {
    cursor: text;
    display: block;
    opacity: 0;
    white-space: nowrap;
    width: auto;
}
.translation:empty ~ .placeholder {
    opacity: 0.5;
}
.translation:focus ~ .placeholder {
    opacity: 0;
}
.translation,
.translation-container > a {
    height: 26px;
}
@-moz-document url-prefix() {
 /*   .translation-container:hover .translation {
        top: -1px;
        left: -1px;
    }*/
    .translation:focus {
/*        border: 1px solid rgba(255, 255, 255, .25) !important;
        top: -1px;
        left: -1px;*/
        outline: none;
        height: 26px;
    }
    .translation ~ a[role="button"] {
        /*margin-top: 0;*/
        margin-top: 1px;
    }
}
